<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.toco.study.main.mapper.MainMapper">
	
	<!-- 샘플 -->
	<select id="getInfo" resultType="org.toco.study.main.vo.SampleVO">
		SELECT NAME, AGE FROM SAMPLE
	</select>

</mapper>